@media screen and (max-width: 976px) {
	#header {
		height: 0;
	}
   .top-line {
   		display: none;
   }
   .nav-menu {
   		display: none;
   }
   .search {
   		max-width: auto;
   }
}

@media (min-width: 735px) and (max-width: 975px) {
	.login-trigger {
		display: none;
	}
}