/*******************************
 *
 *******************************/
 
.bird
{
/*border: 4px solid #999;*/
width: 100px;
height: 30px;
position: absolute;
text-align: left;
display: none;
/*background: #F0F0F0;*/
vertical-align: middle;
font-size: 18px;
} 	
.blindLayer {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 1001;
display: none;
}
.bcontainer
{
position: absolute;
width: 800px;
height: 400px;
background: #fff;
border: 8px solid #999;	
padding: 20px;
display: none;
z-index: 1002;
}
#overflw
{
overflow-y: scroll;
overflow-x: hidden;
height: 300px;
	
	
}

#bcaption
{
background: rgba(224,0,0,.9);
}

#bcaption td
{
border-right: 2px solid #fff;
font-weight: bold;
text-align: center;	
color: #fff;
font-family: 'Museo Sans Cyrl 500', sans-serif;
}

#bcaption td {padding: 5px;}
#bcaption td:nth-child(1) { width: 50px; }		/*ID*/
#bcaption td:nth-child(2) { width: 300px; }		/*NAME*/
#bcaption td:nth-child(3) { width: 100px; }		/*PRICE*/
#bcaption td:nth-child(4) { width: 150px; }		/*NUM*/
#bcaption td:nth-child(5) { width: 70px; }		/*SUM*/

.bitem td
{
font: normal 16px Arial;
color: #555;
padding: 5px;	
border-bottom: 1px solid #999;	
border-right: 2px solid #FFF;
}

.bitem td:nth-child(1) { width: 50px; }
.bitem td:nth-child(2) { width: 300px; }
.bitem td:nth-child(3) { width: 100px; text-align: center;} 
.bitem td:nth-child(4) { width: 150px; text-align: center;}
.bitem td:nth-child(5) { width: 70px; text-align: center;}

#bclose
{
float: right;	
}

.bcontainer table
{
width: 100%;	
}
.bbutton
{
float: right;
color: #fff;
background: rgba(224,0,0,.9);
border: none;
padding: 10px;
font-size: 14px;
border-radius: 3px;
font-family: 'HelveticaNeueCyr Light';
}

.bbutton:hover {
	opacity: .9;
	cursor: pointer;
}

.bbutton:focus {
	outline: none;
}

.bbutton:active {
	background: rgb(204, 0, 8);
}
#bsum
{
float: right;
margin: 0 20px;	
font: normal 18px Arial;
}
.popup {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #808040;
    left: 50%;
    margin-left: -265px;
    padding: 25px 20px;
    position: fixed;
    top: 50px;
    width: 550px;
    z-index: 2002;
    display: none;
}  
#bsubject {
	font-size: 18px;
	font-family: 'HelveticaNeueCyr Medium', sans-serif;
	color: #111;
}
.popup h4	{
		margin-bottom: 4px;
		color: #555;
		font-size: 20px;
		font-family: 'HelveticaNeueCyr Medium', sans-serif;
	}
	.popup form	{
		padding: 30px 0 0 0;
	}
	.popup input[type="text"]{
		text-align: center;
		font-style: italic;
		display: block;
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid #D9D9D9;
    	display: inline-block;
    	height: 40px;
    	line-height: 40px;
    	padding: 0;
    	vertical-align: middle;
	}
	.popup input:focus {
		border: 1px solid rgba(224,0,0,.9);
		outline: none;
	}
	
	.popup .alignCenter	{
		margin-top: 30px;
	}
	.popup textarea {
    display: block;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    border: 1px solid #D9D9D9;
	}
.basket_num
	{
	padding: 4px;
	background: #F0F0F0;	
	}
	.cartbutton {
		float: right;
		padding: 10px;
		color: #fff;
		background: rgba(224,0,0,.9);
		border: none;
		border-radius: 3px;
		cursor: pointer;
	}

	.cartbutton:hover {
		opacity: .9;
	}
	.cartbutton:focus {
		outline: none;
	}
	.cartbutton:active {
		background: rgb(204, 0, 8);
	}
.basket_num_buttons
	{
	width: 20px; 
	height: 20px;
	margin: 0 5px;
	display: inline-block;	
	color: #fff;
	background: #000;
	text-align: center;
	cursor: pointer;	
	}

	.basket_num_buttons:active {
		background: rgba(224,0,0,.9);
		border: none;
	}